.frame_content {
    display: inline-block;
    width: 10%;
    height: auto;
    background: rgb(131, 131, 131);
}

.frame_title {
    color: white;
    display: block;
    width: match-parent;
    height: 35px;
    background: red;
}
