.frame_content {
    position: absolute;
    display: block;
    height: auto;
    background: rgb(255, 255, 255);
    border: 0.1em solid rgb(0, 0, 0);
}

.frame_title {
    color: white;
    display: block;
    width: match-parent;
    height: 23px;
    background: red;
}