.frame_content {
    display: flex;
    max-width: fit-content;
    /* width: 100px; */
    height: auto;
    background: rgb(131, 131, 131);

}

.frame_title {
    color: white;
    display: block;
    width: match-parent;
    height: max-content;
    background: red;
}
